In [4]:
#Answer 1)
mylist = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sortlist = sorted(mylist, key=lambda x: x[0])
print(sortlist)

[('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357), ('Virat Kohli', 24936)]

In [5]:
#Answer 2)
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_list = list(map(lambda x: x**2, my_list))
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
#Answer 3)
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
converted_tuple = tuple(map(lambda x: str(x), my_list))
print(converted_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [7]:
#Answer 4)
from functools import reduce

my_list = list(range(1, 26))

product = reduce(lambda x, y: x*y, my_list)

print(product)

15511210043330985984000000

In [8]:
#Answer 5)
my_list = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
filtered_list = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, my_list))
print(filtered_list)

[6, 60, 90, 120]

In [9]:
#Answer 6)
my_list = ['python', 'php', 'aba', 'radar', 'level']
palindrome_list = list(filter(lambda x: x == x[::-1], my_list))
print(palindrome_list)

['php', 'aba', 'radar', 'level']